<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="default" value="C:\Documents and Settings\admin\Local Settings\Application Data\Google\Chrome\Application\chrome.exe" />
    <add key="another" value="C:\Program Files\Internet Explorer\IEXPLORE.EXE" />
    <add key="default1" value="^https?://www.google.co.jp" />
    <add key="another1" value="^https?://www.yahoo.co.jp" />
    <add key="another2" value="^https?://www.yahoo.com" />
  </appSettings>
</configuration>